* text=auto
*.css linguist-detectable=true
*.scss linguist-detectable=true
*.js linguist-detectable=true
*.php linguist-detectable=true
*.blade.php linguist-detectable=true
*.html linguist-detectable=true
CHANGELOG.md export-ignore